html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


/*using this class for home page image*/
.responsive_image {
    width: 80%;
    height: auto;
}

.search-result-container {
    padding: 0.3em;
}

.search-result {
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: #efe4de;
    border-radius: 5px;
    padding: 0.7em;
    cursor: pointer;
}

.search-result a {
    display: block;
    color: #666666;
    text-decoration: none;
}
