<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bucket List Adventures</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BucketListAdventures.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3" flex-coloumn flex-sm-row>
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/bucket_snorkle.jpg" alt="Logo" style="width:40px;" class="rounded-pill" class="d-inline-block align-text-top" /> Bucket List Adventures</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <nav class="nav nav-pills flex-column flex-sm-row">                      
                            <a class="flex-sm-fill text-sm-center nav-link text-light" asp-area="" asp-controller="Destinations" asp-action="Index">🪣 My Bucket List</a>
                            <a class="flex-sm-fill text-sm-center nav-link text-light" asp-area="" asp-controller="Home" asp-action="Navigate">🧭 Navigate</a>
                            <a class="flex-sm-fill text-sm-center nav-link text-light" asp-area="" asp-controller="SearchHotels" asp-action="Hotel">🏨 Rest Your Head</a>                  
                    </nav>
                </div>
                <div>
                    <form class="d-flex" role="search" method="post">
                        <input type="search" placeholder="🔍︎  Search a City" aria-label="Search" name="cityName" />
                        <button class="btn btn-primary" type="submit" a asp-controller="Home" asp-action="DisplayResults" asp-route-id="DisplayResults">Search Activities</button>       
                    </form>
                </div>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Bucket List Adventures | 🚀 Visit <a href="https://www.launchcode.org/">LaunchCode</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
