@using static BucketListAdventures.Models.ClimateNormals
@model IEnumerable<MonthlyData>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    //this turns the c# objects into javascript objects so the chart can use them
    const climateData = @Html.Raw(Json.Serialize(Model));
    const labels = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"]

    Chart.defaults.font.size = 20;
    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            fill: "origin",
            datasets: 
            [
                {
                    label: "Mininum",
                    data: climateData.map(month => month.mlY_TMIN_NORMAL),
                    borderColor: "rgba(255, 186, 8, 1)",
                },
                {
                    label: "Average",
                    data: climateData.map(month => month.mlY_TAVG_NORMAL),
                    borderColor: "rgba(232, 93, 4, 1)",
                },
                {
                    label: "Maximum",
                    data: climateData.map(month => month.mlY_TMAX_NORMAL),
                    borderColor: "rgba(157, 2, 8, 1)",
                }
            ]
        },
        options: {
            scales: {
                y: {
                    title: {
                        display: true,
                        text: "Temperature °F"
                    },
                    suggestedMax: 100,
                    beginAtZero: true,
                }
            },
            datasets: {
                line:{
                    borderJoinStyle: "round",
                    borderWidth: 10,
                }
            },
            plugins: {
                legend: {
                    position: "bottom",
                    labels: {
                        pointStyle: "circle",
                        usePointStyle: true,
                        boxHeight: 14,
                        padding: 25,
                    }
                }
            }
        }
    });
</script>