@using static BucketListAdventures.Models.ClimateNormals
@model IEnumerable<MonthlyData>

<div>
    <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');

    const climateData = @Html.Raw(Json.Serialize(Model));
    console.log(climateData)
    const labels = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: 
            [
                {
                label: "Max temp",
                data: climateData.map(month => month.mlY_TMAX_NORMAL),
                borderWidth: 1
                },
                {
                label: "Min temp",
                data: climateData.map(month => month.mlY_TMIN_NORMAL),
                borderWidth: 1
                },
                {
                label: "Avg temp",
                data: climateData.map(month => month.mlY_TAVG_NORMAL),
                borderWidth: 1
                },
            ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>