@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form class="row g-3">
    <div class="col-12">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName">
    </div>
    <div class="col-12">
        <label for="inputUserName" class="form-label">UserName</label>
        <input type="text" class="form-control" id="inputUserName">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Interests</label>
        <select id="inputInterests" >
            <option value="1">Sight Seeing</option>
            <option value="2">Adventures</option>
            <option value="3">Hiking</option>
            <option value="4">Skeeing</option>
            <option value="5">Safari</option>
        </select>
    </div>
    <div class="col-12">
        <button type="submit" class="btn btn-primary">Save</button>
        <button class="btn btn-secondary">Cancel</button>
    </div>
</form>