@page
@model BucketListAdventures.Views.SearchHotels.DisplayHotelListModel
@{
}

<ul>
    @foreach (var hotel in ViewBag.body)
    {
        <li>
            <a href="@Url.Action("DisplayHotelList","SearchHotels")?hotel=@hotel.body">  @hotel.body </a>
        </li>
    }
</ul>
