

<ul>
    @foreach (var hotel in ViewBag.hotelsObject)
    {
        <li>
            <a href="@Url.Action("HotelDetails","SearchHotels")?hotel=@hotel.name">  @hotel.name </a>
        </li>
    }
</ul>
