@using BucketListAdventures.ViewModels;
@model SearchHotelsViewModel;


<form method="post">
    <p>Please Enter The City You're Considering As A Destination:</p>
    <input type="text" name="cityName" />
    <input type="submit" />
</form>
