<ul>
    @foreach (var flightResult in ViewBag.flightResults)
    {
            <li>
                <a href="@Url.Action("Details","Home")?activity=@flightResult.c">  @flightResult.cn </a>
            </li>
    }
</ul>