
@using SearchActivities.ViewModel;
@model SearchViewModel

<form method="post">
    <p>Please Enter The City You're Considering Traveling To:</p>
    <input type= "text" name="cityName"/>
    <input type = "submit"/>
</form>