@using SearchActivities.ViewModel;
@model SearchViewModel

<form method="post">
    <p>Please Enter The City Your Considering As A Destination:</p>
    <input type= "text" name="cityName"/>
    <input type = "submit"/>
</form>