@using SearchActivities.ViewModel;
@model SearchViewModel

@*<form method="post">
    <p>Please Enter The City You're Considering As A Destination:</p>
    <input type= "text" name="cityName"/>
    <input type = "submit"/>
</form>*@

<div id="autocomplete" class="autocomplete-container"></div>

@*the name of the package starts with the "at" symbol, so i need to add a second one to escape it*@
<script src=@@geoapify/geocoder-autocomplete type="module"></script>

<script type="text/javascript">

    const autocompleteInput = new autocomplete.GeocoderAutocomplete(
        document.getElementById("autocomplete"), 
        "@Model.ApiKey", 
        {
            type: "city",
            lang: "en",
            skipDetails: true,
            filter: {
                countrycode: "us"
            }
        });

    autocompleteInput.on('select', (location) => {
    // check selected location here
    });
</script>