@using SearchActivities.ViewModel;
@model SearchViewModel

<div class="col-sm-4">
    <img src="~/images/bucket_snorkle.jpg" alt="Bucket List Adventurer" class="img-fluid" />
</div>
<div>
<form method="post">
    <p>Please Enter The City You're Considering As A Destination:</p>
    <input type= "text" name="cityName"/>
    <input type = "submit"/>
</form>
</div>